html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  display: block;
  text-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.door {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

#indoor, #outdoor {
  margin: auto 2.5vw;
  font-size: 5vmax;
}



.events {
  padding-bottom: 10%;
}

.numbers {
  margin: 2.5vh auto;
  font-size: 3vmax;
  width: 40vw;
}

.numbers:hover span {
  display: none;
}

#five:hover:before {
  content: "1.5.2024";
}
#fifteen:hover:before {
  content: "1.23.2024";
}
#twenty:hover:before {
  content: "2.14.2024";
}
#thirty:hover:before {
  content: "1.5.2024";
}
#forty:hover:before {
  content: "n/a";
}
#LJ:hover:before {
  content: "n/a";
}
#TJ:hover:before {
  content: "n/a";
}

