html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  display: block;
  text-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: grid; 
  width: 80%;
  margin: 0 10%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.door {
  text-align: center;
}

#home, #indoor, #outdoor {
  margin: auto 2.5vw;
  font-size: clamp(32px, 10vw, 64px);
}

#indoor {
  font-style: italic;
}

.numbers {
  margin: 2.5vh auto;
  font-size: clamp(16px, 5vw, 24px);
  width: clamp(200px, 30vw, 30vw);
}

.numbers:hover span {
  display: none;
}

#five:hover:before {
  content: "1.5.2024";
}
#fifteen:hover:before {
  content: "1.23.2024";
}
#twenty:hover:before {
  content: "2.14.2024";
}
#thirty:hover:before {
  content: "1.5.2024";
}
#forty:hover:before {
  content: "n/a";
}
#LJ:hover:before {
  content: "n/a";
}
#TJ:hover:before {
  content: "n/a";
}

